@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: none;
  list-style: none;
  text-decoration: none;
}

.orange-color {
  color: #FDCC12;
}

.bold {
  font-weight: 600;
}

/* HOME CONFIG */

#home {
  background: rgb(0,0,0);
  background: linear-gradient(61deg, rgba(0,0,0,1) 0%, rgba(20,33,61,1) 56%);
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home a {
  color: #FFF;
  font-style: none;
  text-decoration: none;
}

#home-menu {
  width: 80%;
  max-width: 400px;
}

#home-dsm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0px 10px 0px;
}

#home-menu > p {
  margin: 10px 0px 30px 0px;
}

.home-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 5px;
  gap: 10px;
  border-top: 1px solid #FFF;
  transition: all 0.2s ease-out;
}

.home-item-last {
  border-bottom: 1px solid #FFF;
}

.home-item:hover {
  background-color: #FFF;
  color: #14213D;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

/* LOGIN CONFIG */

#login-screen {
  background-color: #D9D9D9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-block {
  width: 320px;
  gap: 30px;
  color: #14213D;
}

#sign-in-btn {
  margin: 10px;
  margin-left: 0px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #14213D;
  color: #FFF;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#sign-in-btn:hover {
  background-color: #FFF;
  color: #14213D;
  transition: all 0.2s ease-out;
}

#sign-up-btn {
  margin: 10px;
  margin-left: 0px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #FDCC12;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#sign-up-btn:hover {
  background-color: #FFF;
  color: #14213D;
  transition: all 0.2s ease-out;
}

.login-home-link {
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  text-decoration: underline;
  color: #14213D;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.login-footer {
  margin-top: 20px;
  margin-left: -30px;
}

.login-form {
  padding: 10px 30px;
  margin: 30px 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.login-label {
  font-size: 16px;
  margin: 10px 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.login-input {
  border: none;
  margin: 10px;
  padding: 10px;
  margin-left: 0px;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
}

.login-btn {
  font-weight: 500;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 100px;
  margin: 10px;
  padding: 15px;
  margin-left: 0px;
  padding-left: 10px;
  border-radius: 150px;
  background-color: #14213D;
  color: #FFF;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.login-btn:hover {
  background-color: #FFF;
  color: #14213D;
  transition: all 0.2s ease-out;
}


/* AULAS CONFIG */

#semester {
  padding: 10px 25px;
  background-color: #D9D9D9;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.semester {
  margin: none;
  background: none;
  padding: 8px;
  border: none;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-selected {
  font-size: 20px;
  display: inline;
}

.day button {
  margin: 30px 20px;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 100px;
  transition: all 0.2s ease-out;
}

.day button:hover {
  color: #14213D;
  background: #FFF;
  border: 1px solid #FFF;
  transition: all 0.2s ease-out;
}


.hour {
  width: 380px;
  height: 280px;
  background-color: #D9D9D9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 18px;
  margin-bottom: 30px;
}

.lesson-line {
  width: 100%;
  height: 0.5px;
  background-color: #6a6a6a1e;
}

.lesson {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: black;
  padding: 20px;
}

.lesson-name {
  font-size: 16px;
  margin: 0px 27px;
  text-align: center;
  font-weight: 500;
}

.lesson-hour {
  font-size: 12px;
  color: #878787;
}

.lesson-details {
  font-size: 11px;
  color: #000;
  font-weight: 300;
  text-align: center;
}

.lesson-block {
  width: 100%;
  height: 239.5px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* CHECKOUT CONFIG */

#product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#product-details h1 {
  padding: 15px;
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#product-details label {
  margin: 10px 0px 0px 0px;
  font-size: 16px;
}

#product-details .price {
  font-size: 32px;
  color: #FCA311;
}

#product-details #buy-button {
  font-weight: 700;
  width: 150px;
  height: 30px;
  border-radius: 40px;
  margin-top: 10px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #FCA311;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#product-details #buy-button:hover {
  background-color: black;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#product-details #mypurchase-button {
  font-weight: 700;
  width: 150px;
  height: 30px;
  border-radius: 40px;
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
  background-color: #AEFBBB;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#product-details #mypurchase-button:hover {
  background-color: #1D3059;
  color: white;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.total{
  padding-top: 15px;
}

.select{
  font-size: 16px;
  text-align: center;
  border: none;
  background-color: #FFFFFF;
  width: 150px;
  height: 30px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 40px;
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
  background-color: #1D3059;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-link:hover {
  background-color: black;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

/* ORDERS CONFIG */

#orders {
  background: rgb(0,0,0);
  background: linear-gradient(61deg, rgba(0,0,0,1) 0%, rgba(20,33,61,1) 56%);
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.orders-home-link {
  color: #FFF;
}

.order-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  margin: 30px;
  border: 1px solid #FFF;
  border-radius: 25px;
}